*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-align: center;
}

.container{
 background-color: #eee;
 margin: 20px auto;
 display: grid;
 grid-template-columns: repeat(4, auto);
 grid-template-rows: repeat(7, auto);
 gap: 20px;

}

.container div{
padding: 20px;
background-color: darkcyan;
border: 5px solid #fd0;
}

.fra1{
grid-column:1/3 ;
grid-row:1/3 ;
}
.fra2{
grid-column: span 3;
grid-row: span 2;
}
.fra3{
grid-row: span 7;
grid-column: span 2;
}
.fra4{

}
.fra5{

}
.fra6{

}
.fra7{

}
.fra8{

}
.fra9{

}

.fra10{

}
